language: python
python:
  - '3.10.7'

before_script:
  - pip install -r requirements.txt

branches:
    only:
        - main

env: DJANGO_SETTINGS_MODULE="mon_site_web.settings.travis"

services:
  - postgresql

script:
  - ./manage.py test
